<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>投稿編集画面</title>
</head>
<body>
<div class="col-sm-5 m-auto">
		<div th:if = "${errorMessages != null}">
			<div th:each="errorMessage :${ errorMessages }">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>

		<form th:method="put" th:action="@{/editMessage/{id}(id=${message.id})}">
			<table class="table table-bordered table-hover">
				<tr>
					<th class="table-active">カテゴリ</th>
					<td>
						<input th:if="${message.category == null}" type="text" name="category" class="form-control">
						<input th:if="${message.category != null}" type="text" name="category" class="form-control" th:value="${message.category}">
					</td>
				</tr>
				<tr>
					<th class="table-active">投稿内容</th>
					<td>
						<textarea th:if="${message.text == null}" name="text" class="form-control"></textarea>
						<textarea th:if="${message.text != null}" name="text" class="form-control" th:text="${message.text}"></textarea>
					</td>
				</tr>
			</table>
			<div class="text-right">
				<button class="btn btn-warning" type="submit" value="投稿">投稿</button>
			</div>
		</form>

		<div class="text-left">
			<a th:href="@{/}">戻る</a>
		</div>
	</div>
</body>
</html>