<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript"></script>
<title>TwitterBoot</title>
<script type="text/javascript">
	function deleteMessageConfirm() {
		myRet = window.confirm("この投稿を削除します。よろしいですか？");
		if (myRet == true) {
			alert("削除しました。");
			return true;
		} else {
			alert("キャンセルされました。");
			return false;
		}
	}
	function deleteCommentConfirm() {
		myRet = window.confirm("この返信を削除します。よろしいですか？");
		if (myRet == true) {
			alert("削除しました。");
			return true;
		} else {
			alert("キャンセルされました。");
			return false;
		}
	}
</script>
</head>
<body>
	<div class="header">
		<a th:href="@{/login}" th:if= "${loginUser == null}">ログイン</a>
		<a th:href="@{/signup}" th:if= "${loginUser == null}">登録する</a>
		<a th:href="@{/}" th:if= "${loginUser != nul}">ホーム</a>
		<a th:href="@{/settin}" th:if= "${loginUser != null}">設定</a>
		<a th:href="@{/logout}" th:if= "${loginUser != null}">ログアウト</a>

		</th:if>

		</div>

		<div class="carender-area">
			<form th:action="@{/}" th:method="get">
				日付<input name="start" type="date" value="${start}"/>～<input name="end" type="date" value="${end}" />
					<input type="submit" value="絞込" class="button">
			</form>
		</div>

		<div th:if= "${loginUser != null}">
			<div class="profile">
				<div class="name"><h2 th:text = "${loginUser.name}" ></h2></div>
				<div class="account">@<div th:text ="${loginUser.account}" ></div>
				<div class="description"><div th:text ="${loginUser.description}" ></div>
			</div>
		</div>
		</div>

		<div th:if="${errorMessages != null}">
		<div th:each="errorMessage :${ errorMessages }">
			<p th:text="${errorMessage}"></p>
		</div>
		</div>

		<form th:method="post" th:action="@{/add}" th:object="${messageForm}">
			<table border="1">
				<tr>
				<th>いま、どうしてる？</th>
					<td>
						<input type="text" name="category" th:value="*{category}" size="20" maxlength="10" />
						<input type="text" name="text" th:value="*{text}" size="20" maxlength="140" />
					</td>
				</tr>
			</table>
			<input type="submit" value="投稿" />
		</form>

		<div th:each="message : *{messages}">
			<a th:href="@{/{messageUserId}(messageUserId=${message.userId})}" th:text="*{message.user.name}"></a>
			<div th:text="*{message.category}"></div>
			<div th:text="*{#dates.format(message.createdDate, 'yyyy/MMM/dd HH:mm')}"></div>
			<!-- 横並びにする記述したい -->
				<form th:method="post" th:action="@{/delete/{id}(id=${message.id})}"
					th:if="${loginUser.id} == ${message.userId}" onSubmit="return deleteMessageConfirm()">
				<button  type="submit" value="削除">削除</button>
				</form>

			<!-- 横並びにする記述したい -->
				<form method="get" th:action="@{/edit}" th:if="${loginUser.id} == ${message.userId}">
					 <a th:href="@{/edit/{id}(id=${message.id})}">
						<input type="hidden" name="messageId" th:value="${message.id}">
						<button class="btn btn-primary" type="submit" value="編集">編集</button>
					</a>
				</form>


			<form th:method="post"
					th:action="@{/addComment/{messageId}(messageId=${message.id})}" th:object="${messageForm}">
						<label for="textarea1">コメント入力欄:</label>
						<textarea name="text" rows="3" class="form-control"></textarea>
			<button type="submit">投稿</button>
			</form>
			<div th:each="comment : *{comments}">
				<div th:if="${message.id} == ${comment.messageId}">
				<div th:text="*{comment.user.name}"></div>
				<div th:text="*{#dates.format(comment.createdDate, 'yyyy/MMM/dd HH:mm')}"></div>
				<div th:utext="${#strings.replace(#strings.escapeXml(comment.text),
					T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt;')}"></div>
					<form th:method="post" th:action="@{/deleteComment/{id}(id=${comment.id})}"
						th:if="${loginUser.id} == ${comment.userId}" onSubmit="return deleteCommentConfirm()">
					<button class="btn btn-danger" type="submit" value="削除">削除</button>
					</form>
			</div>
		</div>

		<div class="copyright">Copyright(c)Chiho Iwasaki</div>

	</div>
</body>
</html>