<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:if = "${errorMessages != null}">
	<div th:each="errorMessage :${errorMessages}">
		<p th:text="${errorMessage}"></p>
	</div>
</div>
<div>
	<form method="post" th:action="@{/login}" th:object="${userForm}">
		<table class="table table-bordered table-hover">
			<tr>
				<th class="table-active">アカウント</th>
				<td>
					<input type="text" name="account" class="form-control">
				</td>
			</tr>
			<tr>
				<th class="table-active">パスワード</th>
				<td>
					<input type="password" name="password" class="form-control">
				</td>
			</tr>
		</table>
		<button class="btn btn-primary" type="submit" value="ログイン">ログイン</button>
	</form>
</div>
</body>
</html>