<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー新規登録</title>
</head>
<body>
	<a th:href="@{/}">ホーム</a>
	<a th:href="@{/management}">ユーザー管理</a>

	<div th:if = "${errorMessages != null}">
		<div th:each="errorMessage :${ errorMessages }">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>
	<form method="post" th:action="@{/signup}" >
		<table class="table table-bordered table-hover">
			<tr>
				<th class="table-active">アカウント名</th>
					<td>
						<input th:if="${enteredUser.account != null}" th:value="${enteredUser.account}" type="text" name="account" class="form-control">
						<input th:if="${enteredUser.account == null}" type="text" name="account" class="form-control">
					</td>
				</tr>
				<tr>
				<th class="table-active">パスワード</th>
					<td>
						<input type="password" name="password" class="form-control">
					</td>
				</tr>
				<tr>
					<th class="table-active">確認用パスワード</th>
					<td>
						<input type="password" name="checkPassword" class="form-control">
					</td>
				</tr>
				<tr>
					<th class="table-active">名前</th>
					<td>
						<input th:if="${enteredUser.name != null}" th:value="${enteredUser.name}" type="text" name="name" class="form-control">
						<input th:if="${enteredUser.name == null}" type="text" name="name" class="form-control">
					</td>
				</tr>
				<tr>
					<th class="table-active">支社</th>
					<td>
						<select class="form-control" name="branchId" >
							<option
								th:each="branches : ${branchId}"
								th:if="${branches.id == enteredUser.branchId}"
								th:value="${branches.id}"
								th:text="${branches.name}"
								selected>
							</option>
							<option
								th:each="branches : ${branchId}"
								th:if="${branches.id != enteredUser.branchId}"
								th:value="${branches.id}"
								th:text="${branches.name}"
								>
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="table-active">部署</th>
					<td>
						<select class="form-control" name="departmentId">
							<option
								th:each="departments : ${departmentId}"
								th:value="${departments.id}"
								th:text="${departments.name}"
								th:if="${departments.id == enteredUser.departmentId}" selected>
							</option>
							<option
								th:each="departments : ${departmentId}"
								th:value="${departments.id}"
								th:text="${departments.name}"
								th:if="${departments.id != enteredUser.departmentId}">
							</option>
						</select>
					</td>
				</tr>
		</table>

				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="navbarText">
						<button class="btn btn-warning" type="submit" value="登録">登録</button>
					</div>
				</nav>
	</form>
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a th:href="@{/}">戻る</a>
							</li>
						</ul>
		</div>
	</div>

</body>
</html>